---
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
---

<Layout>
  <h1 class="py-10 text-center text-5xl font-semibold">About</h1>

  <div class="mx-auto grid max-w-xl gap-4">
    <p>👋 Hello, I'm Chandler.</p>

    <p>I am a software developer living in Colorful Colorado.</p>

    <p>I build user interfaces and digital products.</p>

    <p>
      My career began in New York City where I worked with a number of early and
      growth-stage, venture-backed startups in the energy, enterprise marketing,
      e-commerce, ed-tech, and health-tech industries. I have been the first
      hire, the fiftieth hire, and everywhere in-between.
    </p>

    <p>
      As a technologist, my focus is developing client-side applications
      exploring the intersection of technology, design, and human behavior.
      Since 2019 my work has focused on how technology can be used to impart
      positive behavioral change with respect to healthy living and wellness
      awareness.
    </p>

    <p>
      In a previous life, I spent more than half-a-decade as a technology
      instructor teaching foundational web development at technical schools.
      Mentorship continues to be an integral part of my professional life: I
      mentor software developers early in their careers and founded and lead
      Roman Health's Software Engineering Fellowship program.
    </p>

    <p>
      Beyond technology and startups, interests include: gardening, cycling,
      skiing, surfing, sailing, overlanding, 35mm photography, urban design, and
      woodworking.
    </p>

    <p>
      Want to get in touch? I can be reached at <b>hello@chandlermoisen.com</b>
    </p>
  </div>
</Layout>
