---
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
---

<Layout centerContent>
  <div class="grid gap-6">
    <h1 class="text-3xl font-semibold dark:text-gray-500">
      Technologist / Builder / Designer
    </h1>

    <div class="grid gap-4">
      <p>I'm Chandler, a software developer living in Colorful Colorado.</p>

      <p>
        I design, build, grow, and optimize digital products for <u>humans</u> (and
        increasingly machines).
      </p>
    </div>
  </div>
</Layout>
