---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout centerContent>
  <div class="grid gap-6">
    <h1 class="text-2xl font-semibold">Frontend Architect / Design Engineer</h1>

    <div class="grid gap-4">
      <p>
        Hello, I'm Chandler, a software developer living in Colorful Colorado.
      </p>

      <p>
        I build exceptional user interfaces at the intersection of technology,
        design, and human behavior.
      </p>
    </div>
    <!-- <p>
      Software developer, product designer, and technology educator living in
      Colorful Colorado.
    </p>

    <p>Building software to manage chronic health conditions by day.</p>

    <p>
      Helping founders with early-stage technology decisions at Foundation by
      night.
    </p> -->
  </div>
</Layout>
