---
import '@/styles/global.css';
---

<div class="space-between flex items-center justify-between py-6">
  <div class="text-base font-semibold md:text-lg">
    <a href="/">Chandler Moisen</a>
  </div>

  <nav class="flex gap-4 text-sm font-medium">
    <a href="/experience" class="dark:text-gray-500" data-astro-prefetch
      >Experience</a
    >
    <a href="/writing" class="dark:text-gray-500" data-astro-prefetch>Writing</a
    >
    <a href="/about" class="dark:text-gray-500" data-astro-prefetch>About</a>
  </nav>
</div>
