---
import '@/styles/global.css';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import DarkModeToggle from '@/components/DarkModeToggle.astro';
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>

    <script is:inline>
      const theme = localStorage.getItem('theme');
      const query = window?.matchMedia('(prefers-color-scheme: dark)');

      if (theme) {
        document.documentElement.classList.add(theme);
      } else if (query?.matches) {
        document.documentElement.classList.add('dark');
      }

      query.addEventListener('change', (event) => {
        debugger;

        localStorage.clear('theme');

        if (event.matches) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      });
    </script>
  </head>

  <body class="dark:bg-gray-950 dark:text-white">
    <div
      class="mx-auto grid h-screen max-w-4xl grid-rows-[min-content_auto_min-content] px-4 md:px-2 lg:px-0"
    >
      <Header />

      <main>
        <slot />
      </main>

      <Footer />

      <DarkModeToggle />
    </div>
  </body>
</html>
