---
import '@/styles/global.css';
import { cn } from '@/utils';

const { centerContent } = Astro.props;

const mainClass = cn(centerContent && 'flex items-center');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><text x="0" y="24" font-size="24">🐙</text></svg>'
    />
    <meta name="generator" content={Astro.generator} />
    <title>Chandler Moisen - Frontend Architect / Design Engineer</title>
  </head>
  <body>
    <div
      class="mx-auto grid h-screen max-w-4xl grid-rows-[min-content_auto] px-4 md:px-2 lg:px-0"
    >
      <div class="space-between flex items-center justify-between py-6">
        <div class="text-lg font-semibold">
          <a href="/">Chandler Moisen</a>
        </div>

        <nav class="flex gap-4 text-sm">
          <a href="/work">Work</a>
          <a href="/writing">Writing</a>
          <a href="/about">About</a>
        </nav>
      </div>

      <main class={mainClass}>
        <slot />
      </main>
    </div>
  </body>
</html>
