---
import '@/styles/global.css';
import { cn } from '@/utils';

const { centerContent } = Astro.props;

const containerClass = cn(
  'mx-auto grid h-screen max-w-4xl gap-30',
  centerContent && 'items-center',
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Chandler Moisen | Software Developer, Product Designer, and Technology
      Educator
    </title>
  </head>
  <body>
    <div class={containerClass}>
      <div class="space-between flex justify-between py-5">
        <div>Chandler Moisen</div>

        <nav class="flex gap-2">
          <a href="/projects">Projects</a>
          <a href="/notes">Notes</a>
          <a href="/about">About</a>
        </nav>
      </div>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
