---
import '@/styles/global.css';
import Footer from '@/components/Footer.astro';
import { cn } from '@/utils';
import Moon from '@/assets/moon.svg';
import Sun from '@/assets/sun.svg';

const { centerContent } = Astro.props;

const mainClass = cn(centerContent && 'flex items-center');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><text x="0" y="24" font-size="24">🐙</text></svg>'
    />
    <meta name="generator" content={Astro.generator} />
    <title>Chandler Moisen - Frontend Architect / Design Engineer</title>

    <script is:inline>
      const theme = localStorage.getItem('theme');
      const query = window?.matchMedia('(prefers-color-scheme: dark)');

      if (theme) {
        document.documentElement.classList.add(theme);
      } else if (query?.matches) {
        document.documentElement.classList.add('dark');
      }

      query.addEventListener('change', (event) => {
        debugger;

        localStorage.clear('theme');

        if (event.matches) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      });
    </script>
  </head>

  <body class="dark:bg-gray-950 dark:text-white">
    <div
      class="mx-auto grid h-screen max-w-4xl grid-rows-[min-content_auto_min-content] px-4 md:px-2 lg:px-0"
    >
      <div class="space-between flex items-center justify-between py-6">
        <div class="text-base font-semibold md:text-lg">
          <a href="/">Chandler Moisen</a>
        </div>

        <nav class="flex gap-4 text-sm font-medium">
          <a href="/work" class="dark:text-gray-500" data-astro-prefetch>Work</a
          >
          <a href="/writing" class="dark:text-gray-500" data-astro-prefetch
            >Writing</a
          >
          <a href="/about" class="dark:text-gray-500" data-astro-prefetch
            >About</a
          >
        </nav>
      </div>

      <main class={mainClass}>
        <slot />
      </main>

      {!centerContent && <Footer />}

      <div
        class="dark-mode-toggle fixed right-4 bottom-4 w-9 cursor-pointer rounded-full bg-black p-2 text-white dark:bg-white dark:text-black"
      >
        <Moon class="h-5 dark:hidden" />
        <Sun class="hidden h-5 dark:block" />
      </div>
    </div>
  </body>
</html>

<script>
  document.querySelector('.dark-mode-toggle')?.addEventListener('click', () => {
    if (document.documentElement.classList.contains('dark')) {
      localStorage.setItem('theme', 'light');
    } else {
      localStorage.setItem('theme', 'dark');
    }

    document.documentElement.classList.toggle('dark');
  });
</script>
