---
import '@/styles/global.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import DarkModeToggle from '@/components/DarkModeToggle.astro';
import { cn } from '@/utils';

const { centerContent } = Astro.props;

const mainClass = cn(centerContent && 'flex items-center');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><text x="0" y="24" font-size="24">🐙</text></svg>'
    />
    <meta name="generator" content={Astro.generator} />
    <title>Chandler Moisen - Frontend Architect / Design Engineer</title>

    <script is:inline>
      const theme = localStorage.getItem('theme');
      const query = window?.matchMedia('(prefers-color-scheme: dark)');

      if (theme) {
        document.documentElement.classList.add(theme);
      } else if (query?.matches) {
        document.documentElement.classList.add('dark');
      }

      query.addEventListener('change', (event) => {
        debugger;

        localStorage.clear('theme');

        if (event.matches) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      });
    </script>
  </head>

  <body class="dark:bg-gray-950 dark:text-white">
    <div
      class="mx-auto grid h-dvh max-w-4xl grid-rows-[min-content_auto_min-content] px-4 md:px-2 lg:px-0"
    >
      <Header />

      <main class={mainClass}>
        <slot />
      </main>

      <Footer />

      <DarkModeToggle />
    </div>
  </body>
</html>
